{% extends "base.html.twig" %}

{% block body %}
    <div id="wrapper">

        <div class="container-fluid  ">
            <h3 class="text-dark mb-4 d-flex justify-content-center ">Profile</h3>
            <div class=" d-flex justify-content-center  row mb-3">

                <div class=" col-lg-8">
                    <div class="card  mb-3">

                        <div class="card-body text-center shadow "><img class="rounded-circle mb-3 mt-4" src="assets/img/dogs/image2.jpeg" width="160" height="160">
                            <div class="mb-3"><i>{{ app.user.name }}</i></div>
                        </div>
                    </div>

                </div>
                <div class="col-lg-8">

                    <div class="row">
                        <div class=" col">
                            <div class="card  shadow mb-3">
                                <div class="card-header py-3">
                                    <p class="text-primary m-0 font-weight-bold">User Settings</p>
                                </div>
                                <div class="  card-body">

                                        <div class="form-row">
                                            <div class="col">
                                                <div class="form-group"><label for="email"><strong>Adresse&nbsp;Email</strong></label><input class="form-control" type="email" placeholder="{{app.user.email}}" name="email" disabled></div>
                                            </div>
                                        </div>
                                        <div class="form-row">
                                            <div class="col-md-4">
                                                <div class="form-group"><label for="name"><strong>Nom et Prenom</strong><br></label><input class="form-control" type="text" placeholder="{{ app.user.name }}" name="name" disabled></div>
                                            </div>

                                        </div>
                                    <div class="form-row">
                                        <div class="col-md-4">
                                            <div class="form-group"><label for="tel"><strong>Tel</strong><br></label><input class="form-control" type="text" placeholder="{{ app.user.tel }}" name="tel" disabled></div>
                                        </div>

                                    </div>
                                    <div class="form-row">
                                        <div class="col-md-4">
                                            <div class="form-group"><label for="Salaire"><strong>Salaire</strong><br></label><input class="form-control" type="text" placeholder="{{ app.user.salaire }} DH" name="Salaire" disabled></div>
                                        </div>

                                    </div>
                                    <div class="form-row">
                                        <div class="col-md-4">
                                            <div class="form-group"><label for="datenaissance"><strong>Date de Naissance</strong><br></label><input class="form-control" type="text" placeholder="{{ app.user.dateNaissance|date('d-m-Y') }}" name="datenaissance" disabled></div>
                                        </div>

                                    </div>


                                </div>
                            </div>
                            <div class="card shadow">
                                <div class="card-header py-3">
                                    <p class="text-primary m-0 font-weight-bold">Contact</p>
                                </div>
                                <div class="card-body">

                                        <div class="form-group"><label for="address"><strong>Addresse</strong></label><input class="form-control" type="text" placeholder="{{ app.user.adresse }}" name="address" disabled></div>
                                        <div class="form-row">
                                            <div class="col">
                                                <div class="form-group"><label for="city"><strong>Ville</strong></label><input class="form-control" type="text" placeholder="Oujda" name="city" disabled></div>
                                            </div>
                                            <div class="col">
                                                <div class="form-group"><label for="country"><strong>Pays</strong></label><input class="form-control" type="text" placeholder="Maroc" name="country" disabled></div>
                                            </div>
                                        </div>


                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>


{% endblock %}

